.SmsScreen {
  position: relative;
  background-color: #d1d1d1;
  height: calc(calc(100% - 462px) + 42px);
  margin-bottom: -42px;
}

.SmsInputField {
  position: absolute;
  bottom: calc(42px + 14px);
  width: 100%;
  margin: 0px;
}

.SendBtn {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 6px;
  float: right;
  border: none;
  background: url("../../assets/send-24px.svg") no-repeat center #4b4b4b;
  background-size: 30px;
  outline: none;
}

.SendBtn:active {
  filter: invert(0.8);
}

.SmsInputBox {
  width: calc(100% - 120px);
  height: 58px;
  min-height: 58px;
  max-height: 200px;
  resize: vertical;
  box-sizing: border-box;
  padding: 8px;
  margin: 0 6px 0 17px;
  border-radius: 18px 18px 0px 18px;
  background-color: #adadad;
  border: 1pt solid #4b4b4b;
  outline: none;
  font-size: 30px;
  pointer-events: none;
}

.SmsListView {
  height: calc(100% - 170px);
  padding-top: 30px;
  max-height: 200px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

ul > li {
  list-style: none;
  display: inline-flex;
  background-color: #4b4b4b;
  padding: 10px;
  border-radius: 25px 25px 25px 0;
  color: white;
  font-size: 20px;
  height: 30px;
}

ul {
  padding: 0 20px;
  margin: 5px;
}

.SmsIcon {
  height: 20px;
  width: 20px;
}

.SmsText {
  padding-left: 2px;
  padding-right: 2px;
}
