.Keypad {
  background-color: #4b4b4b;
  height: 462px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
}

.KeypadBtnContainer {
  height: 402px;
  position: absolute;
  top: 30px;
  left: 38px;
  right: 38px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.KeypadBtn {
  background: transparent;
  border: none;
  color: white;
  line-height: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  outline: none;
}

.KeypadBtn:active {
  background-color: #e0e0e0;
  background-size: 100%;
  color: #4b4b4b;
}

.KeyLabel {
  font-size: 2.5em;
}

.KeyText {
  font-size: 0.8em;
}
